<ul>
    {% for post in site.posts %}

    {% assign year = post.date | date: '%Y' %}
    {% assign previous_year = post.previous.date | date: '%Y' %}

    {% if forloop.first %}
    <li onclick="toggle(this);">
        {{ year }}
        <ul style="display: block;">
    {% endif %}

        <li>
            {{ post.date | date: '%Y-%m-%d' }}
        </li>

    {% if forloop.last %}
        </li>
    </ul>
    {% else %}

        {% if year != previous_year %}
            </ul>
        </li>
        <li onclick="toggle(this);">
            {{ previous_year }}
            <ul style="display: block;">
        {% endif %}
    {% endif %}

    {% endfor %}
</ul>
<script>
    function toggle(obj) {
        console.log(obj.children[0].style.display)
        let display = obj.children[0].style.display;
        if(display === 'block') {
            obj.children[0].style.display = 'none'
        }else{
            obj.children[0].style.display = 'block'
        }
    }
</script>