<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D00PXPVGBG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D00PXPVGBG');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N7QC4KQH');</script>
<!-- End Google Tag Manager -->

<meta name="google-adsense-account" content="ca-pub-8541064564180007">
<meta name="google-site-verification" content="hOqiLm-b8Xc-VENt1dN1OpAvI2gWGwlr6lcboTsAJVg" />

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ site.title }}</title>
   
{% feed_meta %}
{% seo %}


<link rel="stylesheet" href="/assets/css/styles.css">


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

