<!-- <div>
    <ul>
        {% for post in site.posts %}
        <li>
            {{ post.date | date: "%F" }} - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div> -->
<div>
    <ul class="post-list">
        {% for post in site.posts %}
        <li class="post-item">
            <span class="post-date">{{ post.date | date: "%F" }}</span>
            <a href="{{ post.url }}" class="post-link">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
