<!-- <div>
    <ul>
        {% for post in site.posts %}
        <li>
            {{ post.date | date: "%F" }} - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div> -->
<section class="archive">
    <ul class="post-list">
        {% for post in site.posts %}
        <li class="post-item">
            <a href="{{ post.url }}">
                <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
                <span class="post-title">{{ post.title }}</span>
                <br/><small>{{ post.excerpt }}</small>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>