h1, h2, h3 {
  color: #333;
}

h1 {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

p {
  margin: 10px 0;
}

ul, ol {
  margin: 10px 20px;
}

pre {
  background-color: #f4f4f4; /* 배경색 */
  padding: 10px; /* 패딩 */
  border-radius: 5px; /* 모서리 둥글게 */
  overflow: auto; /* 넘칠 경우 스크롤 */
  margin: 10px 0; /* 위 아래 여백 */
}

code {
  /*background: #eaeaea; !* 인라인 코드 배경색 *!*/
  padding: 2px 4px; /* 패딩 */
  border-radius: 4px; /* 모서리 둥글게 */
  font-family: monospace; /* 폰트 스타일 */
}


blockquote {
  border-left: 4px solid #ccc;
  padding: 10px 20px;
  color: #555;
  margin: 10px 0;
}