<div class="profile">
    <div class="photo">
        <!-- <img class="" /> -->
        <i class="material-icons">adb</i>
    </div>
    <div class="profile-text">
        hi 👋 ~ everyone.
    </div>
</div>

<style>
.profile {
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 10px;
    border-style: ridge;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .photo {
        /* background-color: #bdbdbd; */
        border-style: solid;
        width: 150px;
        height: 150px;
        border-radius: 70%;
        overflow: hidden;
        margin: 10px;

    }
}
</style>