<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <header>
            {% include header.html %}
        </header>
        <nav>
            {% include nav.html %}
        </nav>
        <aside>
            {{ page.name }}
            {% if page.url contains 'categories' %}

                {% include aside_categories.html %}

            {% elsif page.url contains 'tags' %}

                {% include aside_tags.html %}

            {% elsif page.url contains 'search' %}

                {% include aside_search.html %}

            {% else %}

                {% include aside_blog.html %}

            {% endif %}
        </aside>
        <main>
            {{ content }}
        </main>
        <footer>
            {% include footer.html %}
        </footer>
        <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
    </body>
</html>