<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <!--
        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
        -->
        <link rel="stylesheet" href="/assets/css/styles.css">
        {% feed_meta %}
        {% seo %}
    </head>
    <body>
        <header>
            <!-- h1 -->
            {% include head.html %}
            <!-- nav -->
            {% include navigation.html %}
        </header>
        <main>
            <section>
                {{ content }}
            </section>
        </main>
        <footer>
            <p>&copy; 2023 Website Name. All Rights Reserved.</p>
            <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fgithub.com%2Fgjbae1212%2Fhit-counter"/></a>
        </footer>

        <!-- scripts -->
        <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
    </body>
</html>