<!DOCTYPE html>
<html lang="en">
<head>
    {% seo %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/nav-menu.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/md2.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/post-list.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script> -->
    <meta name="google-site-verification" content="hOqiLm-b8Xc-VENt1dN1OpAvI2gWGwlr6lcboTsAJVg" />
    
</head>
<body>
{% include header.html %}

<main>
    {{content}}
</main>

{% include footer.html %}
</body>
</html>