---
layout: whole
---
<nav>
nav section

<div>
    <ul>
        <li>
            <a class="menu-trigger" href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </li>
        {% for nav in site.data.navs %}
            <li data-nav-name="{{ nav.name }}">
<a href="{{ nav.link }}">{{ nav.name }}</a>
</li>
        {% endfor %}
    </ul>
</div>
</nav>

<aside>
aside section



{% for post in site.posts %}
{% assign tmp = post.date | date: '%Y' %}
{% assign year = year | append: tmp | append: ','%}
{% assign years = year | split: ',' | uniq %}
{% endfor %}
<div data-aside-group="blog">
    <ul>
        <li data-aside-name="ALL">
        ALL
        </li>
        {% for item in years %}
        <li data-aside-name="{{ item }}">
            {{ item }}
        </li>
        {% endfor %}
    </ul>
</div>



<div data-aside-group="categories">
    <ul>
        <li data-aside-name="ALL">
        ALL
        </li>
        {% for item in site.categories %}
        <li data-aside-name="{{ item[0] }}">
            {{ item[0] }}
        </li>
        {% endfor %}
    </ul>
</div>



<div data-aside-group="tags">
    <code data-aside-name="ALL">
        ALL
    </code>
    {% for item in site.tags %}
    <code data-aside-name="{{ item[0] }}">
        {{ item[0] }}
    </code>
    {% endfor %}
</div>

</aside>
{{ content }}