---
layout: default
---

<!--카테고리 문자-->
{% assign cate = '' %}
{% for category in page.categories %}
    {% assign cate = cate | append: category | append: ', ' %}
{% endfor %}

<section class="post">
    <h2>{{ cate | append: page.title }}</h2>
    <p class="flow-text">
        <ul>
            <li>
                {{ page.date | date: "%Y/%m/%d" }} - {{ page.author }}
            </li>
            <li>categories -
                {% for category in page.categories %}
                    <span>{{ category }}</span>
                {% endfor %}
            </li>
            <li>tags -
                {% for tag in page.tags %}
                    <span>{{ tag }}</span>
                {% endfor %}
            </li>
        </ul>
    </p>
    {{ content }}
</section>
<a href="{{ site.url }}" class="pretty-button">목록으로</a>
